<!DOCTYPE html>

<html>

<head>

  <link rel=”stylesheet” href=”/css/bootstrap.min.css”>

</head>

<body class=”p-4”>

  <nav class=”mb-4”>

    <a href=”/” class=”btn btn-primary”>Dashboard</a>

    <a href=”/produk” class=”btn btn-secondary”>Produk</a>

    <a href=”/pembelian” class=”btn btn-success”>Pembelian</a>

  </nav>

  <%- body %>

</body>

</html>

